

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #gallery .card {
		margin-bottom: 10px;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #gallery .card {
		margin-bottom: 10px;
	}
}

/*Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #gallery .card {
		margin-bottom: 10px;
	}
}